*{
margin: 0;
padding: 0;
font-family: monospace;
font-size: 20px;
}
.cabecalho{
    background-color: #9e8e8e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(161, 129, 108, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(72, 60, 51, 0.9);
    color: #fff;
}
.container_login h1{
    margin: .3rem 0px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9e8e8e;
    padding-bottom: 1.2rem;
}
body{
    background-color: #9e8e8e;

}
img{
    border-radius: 30%;
    box-shadow: 5px 5px rgba(72, 60, 51, 0.9);
    margin: 1rem;
}
.dahsboard_tela{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.dashboard_tela_secundario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.dashboard_tela_secundario_item{
    width: 600px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 6.2rem;
    box-shadow: 5px 5px rgba(72, 60, 51, 0.9);

}
.dashboard_tela_secundario_item1{
    width: 600px;
    height: 325px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(72, 60, 51, 0.9);

    
}
.dashboard_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 2rem;
}



.logo_dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
}
.dashboardInfoUsuarioItem{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    padding: .5rem;
    box-shadow: 5px 5px rgba(72, 60, 51, 0.9);

}
.btn_gr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.info {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
}

.input_text{
    width: 450px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    margin: 0.5rem 1rem;
    height: 30px;
    box-shadow: 5px 5px rgba(72, 60, 51, 0.9);

}
.container_login input{
    text-align: center;
    height: 40px;
    border-radius: 10px;
    width: 250px;
}
label{
    margin: .5rem;
}
.container_login button{
    padding: .5rem;
    font-size: 16px;
    width: 100px;
    border-radius: 10px;
}
textarea{
    margin: 1rem;
    height: 60px;
    border-radius: 10px;
}

.lista_radio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
    width: 47%;
    padding: .5rem;
}
.botões_geral{
    background-color: rgb(88, 95, 102);
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    text-align: center;
    box-shadow: 5px 5px rgba(72, 60, 51, 0.9);
    
}
.botões_geral:hover{
    background-color: deepskyblue;
    cursor: pointer;
    scale: 0.9;
    transition: 1.3s;
}
.rodape_container{
    width: 100%;
    max-width: 100%;
    height: 250px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .container_login {
        padding: 40px;
    }
    .botões_geral {
        margin: 0.5rem 2rem;
    }
}
.dashboard_container{
    padding: 1rem;
}