body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: #9e8e8e;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.foto-perfil {
    background-color: #cccccc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
}

.info {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
}