body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0; /* Remove margens padrão do body */
}

.container {
    background-color: #d9c2c2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px; /* Limita a largura máxima */
    width: 90%; /* Largura responsiva */
}

.icon {
    font-size: 50px;
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 20px); /* Largura com margem */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #0056b3;
}

.link {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Media Queries para ajuste em telas menores */
@media (max-width: 480px) {
    .icon {
        font-size: 40px; /* Ajusta o tamanho do ícone */
    }

    button {
        font-size: 14px; /* Ajusta o tamanho da fonte dos botões */
    }
}